services:
  # PostgreSQL
  db:
    container_name: postgres
    image: postgres:15.2
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - TZ=Europe/Moscow
      - PGTZ=Europe/Moscow
    expose:
      - 5432
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - app-network
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U ${POSTGRES_USER}" ]
      interval: 10s
      timeout: 5s
      retries: 5

  api:
    build: ./api
    container_name: api
    expose:
      - 5001
    environment:
      - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
      - NODE_ENV=production
      - CLIENT_URL=http://localhost
    networks:
      - app-network
    depends_on:
      db:
        condition: service_healthy
    restart: always
    volumes:
      - /app/node_modules
    command: sh -c "npx prisma db push && node dist/src/main"

  client:
    build: ./client
    container_name: client
    expose:
      - 3000
    volumes:
      - ./client:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NEXT_PUBLIC_API_URL=/api
    networks:
      - app-network
    depends_on:
      - api
    restart: always

  nginx:
    image: alexmoon26/nginx-chat:latest
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    networks:
      - app-network
    depends_on:
      - api
      - client
    restart: always

volumes:
  pgdata:


networks:
  app-network:
    driver: bridge
